
<ul class="social-media-list">
  <li><a rel="me" href="https://github.com/ProfGarfield" target="_blank" title="ProfGarfield"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>ProfGarfield</a></li>
  <li><a rel="me" href="https://www.youtube.com/user/ProfCiv2" target="_blank" title="{{ social.youtube_channel_name | escape | default: 'YouTube' }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg>ProfCiv2</a></li>
  <li><a rel="me" href="https://forums.civfanatics.com/members/prof-garfield.43783/" target="_blank" title="Civfanatics Profile"><img src="{{ "assets/civfanatics_icon.png" | relative_url}}" class="svg-icon grey"></img>Prof. Garfield</a></li>
</ul>
