---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Custom CSS
.site-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: $background-color;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.site-footer {
    background-color: darken($background-color, 10%);
}
